<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account Settings - Controllable</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript">
        if (!localStorage.getItem("token")) {
            window.location = "/";
        }
    </script>
</head>

<body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-sliders-h"></i>
                </span>
                <span><strong>Controllable</strong></span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
                <a class="navbar-item" href="/properties">
                    <span class="icon"><i class="fas fa-list"></i></span>
                    <span>Properties</span>
                </a>
                <a class="navbar-item" href="/apps">
                    <span class="icon"><i class="fas fa-rocket"></i></span>
                    <span>Apps</span>
                </a>
                <a class="navbar-item" href="/environments">
                    <span class="icon"><i class="fas fa-server"></i></span>
                    <span>Environments</span>
                </a>
                <a class="navbar-item" href="https://discord.gg/dCfZXpWvdZ" target="_blank">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span>Community</span>
                </a>
                <a class="navbar-item" href="https://docs.controllable.in" target="_blank">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <span>Docs</span>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span>Manage</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/users">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span>Users</span>
                        </a>
                        <a class="navbar-item" href="/groups">
                            <span class="icon"><i class="fas fa-users"></i></span>
                            <span>Groups</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/account">
                            <span class="icon"><i class="fas fa-user-cog"></i></span>
                            <span>Account</span>
                        </a>
                        <a class="navbar-item" href="/organization">
                            <span class="icon"><i class="fas fa-users-cog"></i></span>
                            <span>Organization</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/api-access">
                            <span class="icon"><i class="fas fa-code"></i></span>
                            <span>API Access</span>
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="/logout">
                    <span class="icon"><i class="fas fa-power-off"></i></span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns" style="margin-top: 7rem;">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h3 class="title">Basic Information</h3>
                    <hr>
                    <form>
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left">
                                <input id="username" class="input is-medium" type="text"
                                    placeholder="Your Account Username" disabled>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="columns" style="margin-top: 2rem;">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h3 class="title">Change Password</h3>
                    <hr>
                    <div id="change-password-message"></div>
                    <form>
                        <div class="field">
                            <label class="label">New Password</label>
                            <div class="control has-icons-left">
                                <input id="new-password" class="input is-medium" type="password"
                                    placeholder="Your New Account Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Confirm New Password</label>
                            <div class="control has-icons-left">
                                <input id="confirm-password" class="input is-medium" type="password"
                                    placeholder="Confirm Your New Password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="button is-info is-medium is-fullwidth" id="change-password-btn">
                            <span class="icon"><i class="far fa-edit"></i></span>
                            <span>Change Password</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/jquery/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/handlebars/handlebars.min-v4.7.7.js"></script>
    <script src="https://kit.fontawesome.com/2b4d084450.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const userApi = new UserApi();
            userApi.getCurrentUser(function (data) {
                $("#username").val(data.username);
            });

            $("#change-password-btn").click(function (e) {
                e.preventDefault();
                let newPassword = $("#new-password").val().trim();
                let confirmNewPassword = $("#confirm-password").val().trim();


                if (newPassword === "") {
                    displayError($("#change-password-message"), "New password cannot be empty");
                    return;
                }

                if (confirmNewPassword !== newPassword) {
                    displayError($("#change-password-message"), "Passwords do not match");
                    return;
                }

                userApi.changePassword(newPassword, function (data) {
                    if (data.hasOwnProperty("id")) {
                        displaySuccess($("#change-password-message"), "Password changed successfully");
                    } else {
                        displayError($("#change-password-message"), data.message);
                    }
                }, function (data) {
                    displayError($("#change-password-message"), data.responseJSON.message);
                });
            });
        });
    </script>
</body>

</html>