<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manage Access - Controllable</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript">
        if (!localStorage.getItem("token")) {
            window.location = "/";
        }
    </script>
</head>

<body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-sliders-h"></i>
                </span>
                <span><strong>Controllable</strong></span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span>Home</span>
                </a>
                <a class="navbar-item" href="/properties">
                    <span class="icon"><i class="fas fa-list"></i></span>
                    <span>Properties</span>
                </a>
                <a class="navbar-item" href="/apps">
                    <span class="icon"><i class="fas fa-rocket"></i></span>
                    <span>Apps</span>
                </a>
                <a class="navbar-item" href="/environments">
                    <span class="icon"><i class="fas fa-server"></i></span>
                    <span>Environments</span>
                </a>
                <a class="navbar-item" href="https://discord.gg/dCfZXpWvdZ" target="_blank">
                    <span class="icon"><i class="fas fa-users"></i></span>
                    <span>Community</span>
                </a>
                <a class="navbar-item" href="https://docs.controllable.in" target="_blank">
                    <span class="icon"><i class="fas fa-book"></i></span>
                    <span>Docs</span>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span>Manage</span>
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/users">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span>Users</span>
                        </a>
                        <a class="navbar-item" href="/groups">
                            <span class="icon"><i class="fas fa-users"></i></span>
                            <span>Groups</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/account">
                            <span class="icon"><i class="fas fa-user-cog"></i></span>
                            <span>Account</span>
                        </a>
                        <a class="navbar-item" href="/organization">
                            <span class="icon"><i class="fas fa-users-cog"></i></span>
                            <span>Organization</span>
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/api-access">
                            <span class="icon"><i class="fas fa-code"></i></span>
                            <span>API Access</span>
                        </a>
                    </div>
                </div>
                <a class="navbar-item" href="/logout">
                    <span class="icon"><i class="fas fa-power-off"></i></span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="columns" style="margin-top: 5rem;">
            <div class="column is-6 is-offset-3">
                <div class="box">
                    <div class="columns">
                        <div class="column is-12">
                            <h3 class="title is-2">
                                <span class="icon"><i class="fas fa-user-shield"></i></span>
                                <span>&nbsp;&nbsp;Manage Access</span>
                            </h3>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-12">
                            <hr>
                            <div id="access-message"></div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" class="access-checkbox" id="create-property-access"
                                        data-type="PROPERTY">
                                    Grant Property Creation Access
                                </label>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" class="access-checkbox" id="create-environment-access"
                                        data-type="ENVIRONMENT">
                                    Grant Environment Creation Access
                                </label>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" class="access-checkbox" id="create-app-access"
                                        data-type="APP">
                                    Grant App Creation Access
                                </label>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox" class="access-checkbox" id="create-collection-access"
                                        data-type="COLLECTION">
                                    Grant Collection Creation Access
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/jquery/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/handlebars/handlebars.min-v4.7.7.js"></script>
    <script src="https://kit.fontawesome.com/2b4d084450.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
        const type = getQueryParameter("type");
        const actorId = getQueryParameter("id");

        const appTarget = "APP";
        const collectionTarget = "COLLECTION";
        const environmentTarget = "ENVIRONMENT";
        const propertyTarget = "PROPERTY";
        const createPermission = "CREATE";
        const groupActor = "GROUP";
        const userActor = "USER";
        const apiKeyActor = "API_KEY";

        const actorMappingMap = {
            "group": groupActor,
            "user": userActor,
            "api-key": apiKeyActor
        }

        accessApi = new AccessApi();

        $(document).ready(function () {
            const actorType = actorMappingMap[type];

            accessApi.getAccess(appTarget, "", "", actorType, actorId, function (data) {
                if (data.length > 0) {
                    if (data[0].access.permissions.includes(createPermission)) {
                        $("#create-app-access").prop("checked", true);
                    }
                }
            });

            accessApi.getAccess(collectionTarget, "", "", actorType, actorId, function (data) {
                if (data.length > 0) {
                    if (data[0].access.permissions.includes(createPermission)) {
                        $("#create-collection-access").prop("checked", true);
                    }
                }
            });

            accessApi.getAccess(propertyTarget, "", "", actorType, actorId, function (data) {
                if (data.length > 0) {
                    if (data[0].access.permissions.includes(createPermission)) {
                        $("#create-property-access").prop("checked", true);
                    }
                }
            });

            accessApi.getAccess(environmentTarget, "", "", actorType, actorId, function (data) {
                if (data.length > 0) {
                    if (data[0].access.permissions.includes(createPermission)) {
                        $("#create-environment-access").prop("checked", true);
                    }
                }
            });

            $(".access-checkbox").click(function (e) {
                let type = $(this).data("type");
                let checked = $(this).is(":checked");

                if (checked) {
                    accessApi.addAccess(type, "", "", actorType, actorId, [createPermission], function (data) {
                        if (data.success) {
                            displaySuccess($("#access-message"), "Creation access to " + type.toLowerCase() + " added successfully");
                        } else {
                            displayError($("#access-message"), data.message);
                        }
                    }, function (data) {
                        displayError($("#access-message"), data.responseJSON.message);
                    });
                } else {
                    accessApi.deleteAccess(type, "", "", actorType, actorId, [createPermission], function (data) {
                        if (data.success) {
                            displaySuccess($("#access-message"), "Creation access to " + type.toLowerCase() + " removed successfully");
                        } else {
                            displayError($("#access-message"), data.message);
                        }
                    }, function (data) {
                        displayError($("#access-message"), data.responseJSON.message);
                    });
                }
            });
        });
    </script>
</body>

</html>